<a href="https://colab.research.google.com/github/Utkicode/Patterns/blob/master/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
rows = int(input("Enter number of rows :"))
for u in range(1,rows+1):
    for v in range(1,u+1):
        print("*",end="")
    print("")

Enter number of rows :8
*
**
***
****
*****
******
*******
********

In [21]:
rows = int(input("Enter number of rows :"))
for u in range(1,rows+1):
    for v in range(1,u+1):
        if((u+v)%2==0):
            print("1",end="")
        else:print("0",end="")
    print("")

Enter number of rows :10
1
01
101
0101
10101
010101
1010101
01010101
101010101
0101010101

In [23]:
rows = int(input("Enter number of rows :"))
for u in range(1,rows+1):
    for v in range(rows-1,u-1,-1):
        print(" ",end="")
    for w in range(0,2*u-1):
        print("*",end="")
    print("")

Enter number of rows :20
                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [27]:
rows = int(input("Enter number of rows :"))
for u in range(1,rows+1):
    for v in range(rows-1,u-1,-1):
        print(" ",end="")
    for w in range(0,2*u-1):
        print("*",end="")
    print("")        
for x in range(rows-1,0,-1):
    for v in range(rows-1,x-1,-1):
        print(" ",end="")
    for w in range(0,2*x-1):
        print("*",end="")
    print("")

Enter number of rows :6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *